[Unit]
Description=Update arch mirrors
RequiresMountsFor=/etc/pacman.d

[Service]
Type=oneshot
ExecStart=/usr/local/bin/automirror.sh
Nice=19
User=root
